html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

:root {
  --yellow: rgb(253, 219, 49);
  --black: rgb(20, 20, 20);
}
