.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  height: 5em;
  width: 100vw;
  padding: 0 2em;
  z-index: 100;
  background: var(--black);
  border-bottom: 2px solid var(--yellow);
}

.header__home__logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: var(--yellow);
  text-decoration: none;
}

.header__home__icon {
  font-size: 2rem;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_left > *:not(:last-child) {
  margin-right: 2rem;
}

.header__shopping__cart {
  color: var(--yellow);
  font-size: 2rem;
  cursor: pointer;
}

.header_right {
  display: flex;
  align-items: center;
}

.header_right > *:not(:last-child) {
  margin-right: 2rem;
}
